.jumbotron{
	background-color: #acceff;
	color: black;
	margin-top: 50px;
}

footer{
	background-color: #d8ffff;
	color: black;
	padding: 15px 0px 0px 0px;
	margin-top: 30px;
	height: 100%;
}

.product-image{
	position: relative;
	align-self: center;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.product-info{
	flex: 1 150px;
	background-color: #daedf5;
	padding: 2px 2px 2px 2px;
	border-radius: 5px;
	margin: 5px, 2px, 0px, 2px;
}

.prod-btn{
	width: 100%;
	position: relative;
	bottom: 0;
	border-radius: 0px;
}

.iconSetup{
	margin-right: 10px;
}

.col-texto{
	margin: 10px, 5px, 10px, 5px;
}