$sy_Blue: #9dd7f2;
$sy_LightBlue: #c5dfeb;

@mixin margenes($top, $right, $bottom, $left) {
	margin: $top, $right, $bottom, $left;
}

.jumbotron{
	background-color: $sy_Blue;
	color: black;
	@include margenes(50px, 0px, 0px, 0px);
}

footer{
	background-color: $sy_Blue;
	color: black;
	padding: 15px 0px 0px 0px;
	@include margenes(30px, 0px, 0px, 0px);
	height: 100%;
}

.product-image{
	position: relative;
	align-self: center;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.product-info{
	flex: 1 150px;
	background-color: $sy_LightBlue;
	padding: 2px 2px 2px 2px;
	border-radius: 5px;
	@include margenes(5px, 2px, 0px, 2px);
}

.prod-btn{
	width: 100%;
	position: relative;
	bottom: 0;
	border-radius: 0px;
}

.iconSetup{
	@include margenes(10px, 0px, 0px, 0px);
}

.col-texto{
	@include margenes(10px, 5px, 10px, 5px);
}