.jumbotron {
  background-color: #9dd7f2;
  color: black;
  margin: 50px, 0px, 0px, 0px; }

footer {
  background-color: #9dd7f2;
  color: black;
  padding: 15px 0px 0px 0px;
  margin: 30px, 0px, 0px, 0px;
  height: 100%; }

.product-image {
  position: relative;
  align-self: center;
  max-width: 100%;
  height: auto;
  border-radius: 10px; }

.product-info {
  flex: 1 150px;
  background-color: #c5dfeb;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
  margin: 5px, 2px, 0px, 2px; }

.prod-btn {
  width: 100%;
  position: relative;
  bottom: 0;
  border-radius: 0px; }

.iconSetup {
  margin: 10px, 0px, 0px, 0px; }

.col-texto {
  margin: 10px, 5px, 10px, 5px; }
